* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0583F2;
}

.content {
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

input {
    margin: 10px 0 10px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #0583F2;
    outline: none;
}

button {
    width: 100%;
    margin-top: 25px;
}
